.button {
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 42px;
    margin: 10px;
    color: white;
    float: left;
}

h2 {
    color: white;
    font-size: 48px;
    text-align: center;
}
.dbutton {
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 42px;
    margin: 10px;
    color: white;
    float: left;
    background-color: #111144;
}

#keyboard {
    width: 100%;
    align-content: center;

}

#digitButtons {
    float:left;
    background-color:  #2a2b2e;

}

#mainContainer {
    padding-left: 30%;
    padding-right: 30%;
    align-content: center;
}

#operationalButtons {
    float:left;
    background-color:  #2a2b2e;
}

#result {
    border: 3px solid white;
    border-radius: 3px;
    padding: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 26px;
}

.button:hover, .dbutton:hover{
    background-color: grey;
}

body {
    background-color: black;
    font-family: 'Share Tech Mono', monospace;

}